/* Aside
-------------------------------------------------- */
#asideLeft {
  background-color: #fff;

  /* >section {
    overflow-y: auto;
  } */
  .aside-menu {
    color: black;

    h4 {
      a {
        color: black;
        ;

        &:hover {
          text-decoration: none;
        }
      }

      em {
        font-style: normal;
      }
    }
  }

}

/* Layout with large aside navigation
-------------------------------------------------- */

.aside-l {
  #asideLeft {
    /* .root-menu {
      a {
        .material-icons {
          &:after {
            content: 'chevron_right';
          }
        }
      }

      [role="button"] {
        .material-icons {
          &:after {
            content: 'expand_more';
          }
        }
      }
    } */
  }
}


/* Small devices
-------------------------------------------------- */
@include mqMax($break-m - 1) {
  .aside-s {
    #asideLeft {
      display: none;
    }
  }

  .aside-l {
    #asideLeft {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 70%;
      z-index: $zindex-canvas;

      >section {
        padding: $spacing;
      }

      .submenu {
        >li {
          font-size: 110%;
          padding-left: $spacing-double;
          margin-bottom: $spacing-half;
        }
      }
    }



  }

}

/* Large devices
-------------------------------------------------- */
@include mqMin($break-m) {

  /* Layout with small aside navigation */
  .aside-s {
    .aside-menu {
      text-align: center;

      .root-menu {
        margin-bottom: $spacing-double;
        position: relative;
      }

      h4 {
        em {
          display: none;
        }
      }

      .submenu {
        display: none;
        position: absolute;
        top: 1rem;
        left: 7rem;
        text-align: left;
        background-color: #fff;
        min-width: 25rem;
        padding: $spacing-double;
        @include boxShadow($box-shadow);

        /* Arrow */
        &::after {
          content: " ";
          position: absolute;
          border-width: $spacing/2;
          border-style: solid;
          top: 5%;
          right: 100%;
          margin-top: -$spacing/2;
          border-color: transparent $darkest-bcg-color transparent transparent;
        }

        >li {
          //font-size: 110%;
          margin-bottom: $spacing;
        }

        &.is-on {
          display: block;
        }
      }

    }

  }

  /* Layout with large aside navigation */
  .aside-l {
    #asideLeft {
      >section {
        padding: $spacing-double;
      }

      .root-menu {
        margin-bottom: $spacing;
      }

      .submenu {
        >li {
          font-size: 110%;
          padding-left: $spacing-third;
          margin-bottom: $spacing;
        }
      }

    }
  }
}