/* Header
-------------------------------------------------- */

// Header
#header {
  @include displayFlex();
  @include justifyContent(space-between);
  z-index: $zindex-header;
  height: $header-h-s;
  background-color: #fff;

  >section {
    @include displayFlex();
    @include justifyContent(space-between);
    @include alignItems(center);
    flex: 1 0 auto;
    height: 100%;
    //padding: $spacing-double;
  }

  #headerContent {
    padding: 0 $spacing;
  }

}

// Sticky header
.sticky-header {
  #header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
}

/* Small devices
-------------------------------------------------- */
@include mqMax($break-m - 1) {
  
  #headerLogo{
    display: none;
  }
  #headerToggleAside {
   margin: 0 auto;
  }
}

/* Large devices
-------------------------------------------------- */
@include mqMin($break-m) {
  #header{
    height: $header-h;
  }
  #headerContent {
    padding: 0 $spacing-double;
  }

  /* Layout with small aside navigation */
  .aside-s {
     #headerToggleAside{
      text-align: center;
      margin: 0 auto;
    }
    #headerLogo {
      display: none;
    }

  }

   /* Layout with large aside navigation */
   .aside-l {
    #headerBrand {
      padding: $spacing-double;

    }
  }
}