/* Button
-------------------------------------------------- */
.panel{
  border: solid 1px $border-color;
  border-radius: $border-radius;
  header{
    font-size: 110%;
    padding: $spacing;
    background-color: $border-color;
  }
  .content{
    padding: $spacing;
  }
}