/* Tab
-------------------------------------------------- */
.tablist{
  list-style: none;
  margin: 0;
  padding: 0;
  li,a {
    display: block;
   @include mqMin($break-s) {
      display: inline-block;
    }
  }
  a {
    padding: $spacing 0;
    width: 100%;
    text-decoration: none;
    border-bottom: solid 1px $border-color;
    &[aria-selected]{
      font-weight: bold;
      border-bottom: solid 2px $active-color;
    }
  }
  
  // Look from the small devices
  @include mqMin($break-s) {
    border-bottom: solid 1px $border-color;
    a {
      padding: 0 $spacing-double $spacing 0;
      border-bottom: 0;
    }
  }
 
}