<aside id="asideLeft">
  <section>
      <div class="align-right hide-min-m">
          <button class="is-text" data-toggle-class="aside-active aside-inactive" aria-controls="body"><i class="fas fa-times fa-lg"></i></button>
        </div>
    <a class="button size-s hide-min-m" href="index.html">HOME</a>
    <nav>
      <ul>
        <li>Aside menu  item 1</li>
        <li>Aside menu  item 2</li>
        <li>Aside menu  item 3</li>
        <li>Aside menu  item 4</li>
        <li>Aside menu  item 5</li>
        <li>Aside menu  item 6</li>
      </ul>
    </nav>
  </section>
</aside>