<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GspGen - Gulp static page generator</title>
  <meta name="description" content="Building a simple static page with Node.js and Gulp.js" />

  <!-- App css -->
  <link media="screen" type="text/css" rel="stylesheet" href="css/teeny.css">
</head>

<body id="body" class="sticky-header layout-m">
  <!-- /////////////////////////////////////// Header ////////////////////////////////////// -->
  <header id="header">
    <section>
      <!-- Bars - on small devices -->
      <div>
        <!-- Logo -->
        <a class="hide-max-s" id="headerLogo" href="#home_jumbotron">
          <img src="./img/logo.png">
        </a>
      </div>
      <!-- Navi -->
      <nav>
        <ul class="horizontal">
          <li>
            <a class="page-anchor" href="#home_entry">Entries</a>
          </li>
          <li>
            <a class="page-anchor" href="#home_services">Services</a>
          </li>
          <li>
            <a class="page-anchor" href="#home_about">About</a>
          </li>
          <li>
            <a class="page-anchor" href="#home_contact">Contact</a>
          </li>
        </ul>
      </nav>
      <div>
        <span>Item</span>
      </div>
    </section>
  </header>

  <section id="page">
    <!-- /////////////////////////////////////// Main ////////////////////////////////////// -->
    <main id="main">