<body id="body" class="sticky-header aside-inactive">
  <!-- /////////////////////////////////////// Header ////////////////////////////////////// -->
  <header id="header">
    <section>
     
      <div id="headerBrand">
        <a class="button size-s hide-min-l" id="headerLogo" href="index.html">
           Y
          </a>
        <!-- Logo -->
        <a class="hide-max-s" id="headerLogo" href="index.html">
          <img src="./img/logo.png">
        </a>
      </div>
      <!-- Navi -->
      <nav id="headerPrimary">
          <ul class="inline">
              <li>
                <a href="layout-spa.html">Single page</a>
              </li>
              <li>
                <a href="layout-m.html">Layout M</a>
              </li>
              <li>
                <a href="layout-lm.html">Layout LM</a>
              </li>
            </ul>
      </nav>
      <div id="headerSecondary">
        <span>Item</span>
      </div>
    </section>
  </header>
  <section id="page" class="layout-m">
      <!-- /////////////////////////////////////// Main ////////////////////////////////////// -->
      <main id="main">