/* Layout m - without  asides
-------------------------------------------------- */
body {
  @include displayFlex();
  @include flexDirection(column);
  min-height: 100vh;

  //height: 100%;
}


// Page
#page {
  @include displayFlex();
  @include justifyContent(space-between);
  //height: 100%;
  flex: 1;
}

.sticky-header {
  #page {
    padding-top: $header-h-s;
  }
}