/* Aside left
-------------------------------------------------- */

/* Max to medium devices
-------------------------------------------------- */
@include mqMax($break-m - 1) {
  .aside-inactive{
    app-aside-left {
      display: none;
    }
  }
  .aside-active{
    app-aside-left {
      background-color: $bcg-color;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 70%;
      z-index: $zindex-canvas;

      >section {
        padding: $spacing;
      }
    }
    
  }
}