//@import "~sass/_shared.scss";
/* Body
-------------------------------------------------- */
body {
  @include displayFlex();
  @include flexDirection(column);
  min-height: 100vh;
}


/* Page / App Root
-------------------------------------------------- */
#page {
  @include displayFlex();
  @include justifyContent(space-between);
  flex: 1;
}

/* Angular embeded elements
-------------------------------------------------- */
app-root {
  @include displayFlex();
  @include flexDirection(column);
  min-height: 100vh;
}
